DATABASE_URL=DB_Connection_Url

PORT=Server_Port

APP_URL=Frontend_Url
BACKEND_URL=Backend_Url

JWT_ACCESS_SECRET=Jwt_Access_Secret
JWT_REFRESH_SECRET=Jwt_Refresh_Secret
JWT_ACCESS_EXPIRED_IN=Jwt_Access_Expired_In
JWT_REFRESH_EXPIRED_IN=Jwt_Refresh_Expired_In

BCRYPT_SALT_ROUND=Salt_Round

SSL_COMMERZ_STORE_ID=your_store_id
SSL_COMMERZ_STORE_PASSWORD=your_store_password

PAYMENT_SUCCESS_URL=success_url
PAYMENT_FAIL_URL=fail_url
PAYMENT_CANCEL_URL=cancel_url


